<a href="https://colab.research.google.com/github/Mephod1y/DataScience/blob/main/Hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

Напишіть функцію гіпотези лінійної регресії у векторному вигляді:

In [20]:
def h(X, w):
    return np.dot(X, w)

Створіть функцію для обчислення функції втрат у векторному вигляді:

In [21]:
def loss_function(X, y, w):
    return np.square(h(X, w) - y).sum() / (2 * len(X))

Реалізуйте один крок градієнтного спуску:

In [23]:
def gradient_step(X, y, w, learning_rate):
    m = len(y)
    grad = (X.T @ (h(X, w) - y)) / m
    w -= learning_rate * grad
    return w

In [24]:
def gradient(X, y, learning_rate, num_iter, eps):
    ones = np.ones((X.shape[0], 1))
    X = np.hstack((ones, X))

    w = np.zeros(X.shape[1])  # Initialize weights

    loss = loss_function(X, y, w)
    loss_history = [loss]

    for _ in range(num_iter):
        w = gradient_step(X, y, w, learning_rate)

        loss = loss_function(X, y, w)
        if abs(loss - loss_history[-1]) < eps:
            loss_history.append(loss)
            break

        loss_history.append(loss)

    return w, loss_history

Знайдіть найкращі параметри $\vec{w}$ для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень;
- знайдіть ці ж параметри за допомогою аналітичного рішення;
- порівняйте отримані результати

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [26]:
# Завантаження даних і нормалізація
df = pd.read_csv("Housing.csv")
norm = df.copy()
columns = ['price', 'area', 'bedrooms', 'bathrooms']
for column in columns[1:]:
    norm[column] = (df[column] - df[column].mean()) / df[column].std()


# Дані для лінійної регресії
X = norm[['area', 'bedrooms', 'bathrooms']].values
y = norm['price'].values

# Параметри градієнтного спуску
learning_rate = 0.001
num_iter = 100000
eps = 1e-12

# Градієнтний спуск
w_gradient, loss_history = gradient(X, y, learning_rate, num_iter, eps)
print('Gradient Descent - w:', w_gradient)

# Аналітичний розв'язок
ones = np.ones((X.shape[0], 1))
X = np.hstack((ones, X))
w_analytical = np.linalg.pinv(X.T @ X) @ X.T @ y
print('Analytical Solution - Optimal w:', w_analytical)

Gradient Descent - w: [4766729.23596627  821968.67551979  300259.83239246  696447.05416246]
Analytical Solution - Optimal w: [4766729.24770642  821968.58935343  300259.16468032  696447.75898579]